body {
    margin: 0;
    font-family: sans-serif;
}

/*这些都是导航栏所需要的模板CSS*/
ul {
    /*非常重要的固定导航栏操作*/
    top: 0; /*在最顶上*/
    position: sticky; /*粘住*/
    z-index: 5; /*设置Z轴，浮在所有其他元素之上*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #101010;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*hover样式，但排除最后一个*/
li a:hover:not(.active) {
    transition: all 0.5s;
    background-color: white;
    color: black;
}

.active {
    background-color: #0072dc;
}

.active:hover {
    transition: all 0.5s;
    background-color: #40a4ed;
    color: #f0f8ff;
}